<ion-header>
  <ion-toolbar>
    <ion-title size="medium">Request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="row1">
    </ion-row>
    <ion-row class="row2">
      <ion-col>
        <h1>Request Confirmed</h1>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
        <!-- Button redirects user to the home page -->
        <ion-button expand="full" (click)="closeModal()" routerLink="/home">back</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
