<ion-header>
  <ion-toolbar>
    <ion-title size="small">Lismore Flood Emergency</ion-title>
    <ion-button slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Flood Information</h1>
  <ion-item href="https://www.ses.nsw.gov.au/">Click Here for SES Flood Information</ion-item>
  <h2>Emergency Phone Numbers:</h2>
  <ion-item href="tel:132500">SES:132 500</ion-item>
  <ion-item href="tel:000">Emergency Services: 000</ion-item>
</ion-content>
